<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Take a Test</title>
    </head>
    <body>
        <h1>Please enter your gender</h1>
        <input id="Gender"> <br> <br>
        <button onclick="gender_input()">submit</button>
        <h1 id="Gender_by_user">

        </h1>

        <style>
            body {background-color: aqua; text-align: center;}
        </style>

        <script>
            function gender_input(){

                let Gender= document.querySelector("#Gender");
                let Gender_by_user= document.querySelector("#Gender_by_user");
                Gender_by_user.innerHTML="you entered "+ Gender.value;

            }
        </script>
    </body>
</html>